<section class="min-vh-100">
    <div class="d-flex align-items-center">
        <img class="vh-100" style="  object-fit: cover;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        " src="../../assets/lexus-lf-side.jpg" alt="lf-side" #lfHeroImg> 
    </div>
    <div>
        <h1 class="display-1 lf-title" #lfHeroTitle>Lexus LF-30</h1>
    </div>
</section>

<section class="container-xxl mt-5 mb-5 pt-5 min-vh-100 align-items-center">
    <h1 class="w-75 text-uppercase mb-5" style="font-weight: 600" #lfSectionOneTitle>embodying the vision of lexus electrification</h1>

    <div class="row mt-3">
        <div class="col-lg">
            <p #lfSectionOneDesc>Unveiled along with the LF-30 Electrified concept at the 2019 Tokyo Motor Show, the “Lexus Electrified” vision targets a fundamental leap in vehicle performance, handling, control and driver enjoyment - even as mobility within our society continues to change with autonomous driving and vehicle electrification.

                To advance this goal, Lexus plans to unveil its first BEV (battery electric vehicle) in November 2019  broadening response to the needs of various regions around the world, including the development of HEVs (hybrid electric vehicles), PHEVs (plug-in hybrid electric vehicles), and FCEVs (fuel cell electric vehicles).
            </p>
        </div>
        <div class="col-lg overflow-hidden">
            <img class="img-fluid" style="  object-fit: cover;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            "  src="../../assets/lexus-lf-top-vertical.webp" alt="img" #lfSectionOneImg>
        </div>
    </div>
</section>

<section class="mt-5 min-vh-100 position-relative overflow-hidden">
    <img class="vh-100 w-100" src="../../assets/lexus-lf-side-open.jpg" alt="img" style="object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    " #lfSectionTwoImg>

    <div class="img-title-overlay d-flex align-items-center justify-content-center" style="clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);" #lfSectionTwoOverlay>
        <h1 class="display-2 text-center text-uppercase" #lfSectionTwoTitle>Design passing its time</h1>
    </div>

</section>

<section>
    <div class="row align-items-center">
        <div class="col-lg-6 p-0">
            <img class="img-fluid" src="../../assets/lexus-lf-interior.jpg" alt="Lexus interior" #lexusInteriorOneImg>
        </div>
        <div class="col-lg-6 my-4 px-5" #lexusIntreiorOneContent>
            To manifest in a higher dimension Lexus’ fundamental human-centered philosophy, the cockpit was designed based on the new Lexus concept of “Tazuna”, meaning "reins" in Japanese. Inspired by how a single rein can be used to achieve mutual understanding between horse and rider, the steering controller-mounted switches and head-up display have been coordinated to a high degree, creating a space that enables the driver to focus on driving while controlling various functions.
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6 my-4 px-5" #lexusInteriorTwoContent>
            <h1 class="mb-3">COMFORT AND CONVENIENCE</h1>
            <p>
                As an indication of the future image of a Tazuna cockpit, the LF-30 Electrified employs next-generation interfaces, such as gesture control and enhanced presentation of vehicle information through AR (augmented reality). The resulting interior is one that provides comfort and convenience for both driver and passengers.
            </p>
        </div>
        <div class="col-lg-6 p-0">
            <img  class="img-fluid" src="../../assets/lexus-lf-interior-2.jpg" alt="Lexus interior" #lexusInteriorTwoImg>
        </div>
    </div>
</section>
